*{
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: none;
  appearance: none;
  box-sizing: border-box;
}

body {
  margin: 0;
font-family: 'Lora', sans-serif;
text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}